body {
  background: rgb(41,47,57);
  
}
/* top menu start */
.top_menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 50px;
  padding: 5px 20px;
  margin: auto;
  background-color: #0145ac;
  border-radius: 8px;

}

.space {
    height:20px
}

.menu {
  background-color: #82C7A5;
  width: 120px;
  height: 30px;
  border: 1px gray solid;
  align-content: center;
  text-align: center;
  margin: 5px;
  box-shadow: 2px 3px 10px grey;
  font-weight: 800;
  color: white;
  text-shadow: 2px 3px 6px gray;
}
.menu:hover {
  background-color: rgb(56, 182, 98);
  border: 1px black solid;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}
.menu:active {
  background-color: rgb(6, 75, 37);
  margin: 9px;
  box-shadow: 0px 0px 0px;
}

.menu_plusz {
  flex-grow: 1;
}



.main_box {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  border: 1px lightgray solid;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #1b212c;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.main_left {
  width: 200px;
  min-width: 100px;
  border: 1px lightslategray solid;
  justify-self: flex-start;
}
.main_right {
  max-width: 400px;
  border: 1px lightslategray solid;
  justify-self: flex-end;
}
.main_center {
  flex-grow: 1;
  border: 1px lightslategray solid;
  min-width: 600px;
  margin: 10px;
}
